<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.codepassword">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity_denglu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity_zuce">
        </activity>
        <activity android:name=".MainActivity_fabushangping">
        </activity>
        <activity android:name=".MainAcitvity_zhuyemian">
        </activity>
        <activity android:name=".MainActivity_gerenzhongx">
        </activity>
        <activity android:name=".MainActivity_xiugaimima">
        </activity>
        <activity android:name=".MainActivity_gerenxinxi">
        </activity>
        <activity android:name=".MainActivity_wodefabu">
        </activity>
        <activity android:name=".Main_chakan">
        </activity>

</application>

</manifest>